<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Combined and filtered Podcast feeds">
    <meta name="author" content="Horst Mumpitz">

    <title>Holginator</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron_narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/horstmumpitz/holginator">Github</a></li>
          <li><a href="http://twitter.com/horstmumpitz">Kontakt</a></li>
        </ul>
        <h3 class="text-muted">Holginator</h3>
      </div>

      <div class="jumbotron">
        <h1>Holginator</h1>
        <p class="lead">Ein/e PodcasterIn, unzählige Feeds. <br /> Der Holginator schafft Abhilfe.</p>        
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Funktion</h4>
          <p>
            Kennen wir nicht alle das Problem, unsere LieblingspodcasterInnen sind kreuz und quer über mehrere
            Shows zerstreut und wir hätten gerne einen einheitlichen Feed. Der Holginator schafft Abhilfe. Er
            fügt mehrere Feeds zusammen und Filtert die Einträge, sodass ein Feed ensteht. Die Filterung dient dazu, dass auch Feeds mit unterschiedlichen ModeratorInnen berücksichtigt werden können. Derzeit stehen zwei kombinierte Feeds zur Verfügung. Ich bin für weitere Anregungen via <a href="https://github.com/horstmumpitz/holginator">Twitter</a> offen. 
          </p>

          <h4>Feeds</h4>
          <p><a href="/holgi_blue_moon_lateline.xml">Holgi – Blue Moon & Late Line</a></p>
          <p><a href="/holgi_wrint_blue_moon_lateline.xml">Holgi – Wrint, Blue Moon & Late Line</a></p>                  
        </div>
      </div>

      <div class="footer">
      </div>

    </div> <!-- /container -->

  </body>
</html>
